{% extends 'base.html' %}
{% extends 'base.html' %}

{% block title %}
<title>Dog Search</title>
{% endblock%}


{% block content %}
<a href="/">Go Back</a>
<div class="container">
    <h1>Petfinder API</h1>
    <h2>Search for a Dog</h2>
    <form action="/barnyard_search" method="POST">
        {% csrf_token %}
        <h6>Select Dog Breed</h6>
        <select name="barnyard_breed">
            {% for breed in dog_breeds %}
                <option value="{{ breed }}">{{ breed.title }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="zip_code">Zip Code: </label>
        <input id="zip_code" type="number" name="zip_code" value="">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
    <br>
</div>
{% endblock %}