{% extends 'base.html' %}

{% block title %}
<title>Find A Pet</title>
{% endblock%}


{% block content %}
<a href="/">Go Back</a>
<div class="container">
    <h1>Petfinder API</h1>
    <h2>Find A Cat</h2>
    <h2><b>Name: </b>{{ pet.0.name.values.0 }}</h2>
    <h6><b>Shelter ID: </b>{{ pet.0.shelterId.values.0 }}</h6>
    <h6><b>Pet ID: </b>{{ pet.0.shelterPetId.values.0 }}</h6>
    {% for photo in pet.0.media.values.0.photo %}
        <h6><a href="{{ photo.values.0 }}">{{ photo.values.0 }}</h6>
            </a>
        <img src="{{ photo.values.0 }}" alt="{{ pet.0.name.values.0 }}">
    {% endfor %}
    <br>
    <h6><b>Age: </b>{{ pet.0.age.values.0 }}</h6>
    <h6><b>Sex: </b>{{ pet.0.sex.values.0 }}</h6>
    <h6><b>Description: </b>{{ pet.0.description.values.0}}</h6>
    <h6><b>ID: </b>{{ pet.0.id.values.0}}</h6>
    <h6><b>Mix: </b>{{ pet.0.mix.values.0.title }}</h6>
    <h6><b>Contact: </b>{{ pet.0.contact.city.values.0 }}</h6>
    <h6><b>Zip Code: </b>{{ pet.0.contact.zip.values.0 }}</h6>
    <h6><b>Phone: </b>{{ pet.0.contact.phone.values.0 }}</h6>
    <h6><b>Email: </b><a href="mailto:{{ pet.0.contact.email.values.0 }}">{{ pet.0.contact.email.values.0 }}</a></h6>
    <h6>{{ pet }}</h6>
</div>
{% endblock %}