{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock%}


{% block content %}
<div class="container">
    <h1>Petfinder API</h1>
    <h2>Find A pet by type</h2>
    <a href="/barnyard_search">Barnyard Animals</a>
    <br>
    <a href="/bird_search">Birds</a>
    <br>
    <a href="/cat_search">Cats</a>
    <br>
    <a href="/dog_search">Dogs</a>
    <br>
    <a href="/reptile_search">Reptile</a>
    <br>
    <form action="/result" method="post">
        <h6>Search for a Pet</h6>
        {% csrf_token %}
        <label for="animal">Animal Type: </label>
        <select name="animal">
            <option value="barnyard">Barnyard Animal</option>
            <option value="bird">Bird</option>
            <option value="cat">Cat</option>
            <option value="dog">Dog</option>
            <option value="reptile">Reptile</option>
        </select>
        <br>
        <label for="zip_code">Zip Code: </label>
        <input id="zip_code" type="number" name="zip_code" value="">
        <br>
        <input type="submit" value="Submit">
        <br>
    </form>
    <br>
</div>
{% endblock %}