{% extends 'base.html' %}

{% block title %}
<title>Pet Search</title>
{% endblock%}


{% block content %}
<a href="/">Go Back</a>
<div class="container">
    <h1>Petfinder API</h1>
    <h2>Search for a pet</h2>
    <form action="/pet_search" method="POST">
        {% csrf_token %}
        <h6>Select Animal Type</h6>
        <select name="animal_type">
            <option value="barnyard">Barnyard Animal</option>
            <option value="bird">Bird</option>
            <option value="cat">Cat</option>
            <option value="dog">Dog</option>
            <option value="reptile">Reptile</option>
        </select>
        <br>
        <label for="zip_code">Zip Code: </label>
        <input id="zip_code" type="number" name="zip_code" value="">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
    <br>
</div>
{% endblock %}