{% extends 'base.html' %}

{% block title %}
<title>Pet Search</title>
{% endblock%}


{% block content %}
<a href="/">Go Back</a>
<div class="container">
    <h1>Petfinder API</h1>
    <h2>Search for a pet</h2>
    <form action="/pet_search" method="POST">
        {% csrf_token %}
        <h6>Select Animal Type</h6>
        <select>
            <option value="barnyard">Barnyard Animals</option>
            <option value="birds">Birds</option>
            <option value="cats">Cats</option>
            <option value="dogs">Dogs</option>
            <option value="reptiles">Reptiles</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
    <br>
</div>
{% endblock %}