{% extends 'base.html' %}

{% block title %}
<title>Reptile Search</title>
{% endblock%}


{% block content %}
<a href="/">Go Back</a>
<div class="container">
    <h1>Petfinder API</h1>
    <h2>Search for a Reptile</h2>
    <form action="/bird_search" method="POST">
        {% csrf_token %}
        <h6>Select Reptile By Breed</h6>
        <select name="reptile_breed">
            {% for breed in reptile_breeds %}
                <option value="{{ breed }}">{{ breed.title }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
    <br>
</div>
{% endblock %}